@model _123Movers.Models.LeadLimitModel
@using _123Movers.Models
@{
    ViewBag.Title = "Company Lead Limit";
}

<input type="hidden" id="hdnServiceId" value="@ViewBag.ServiceID"/>

@Html.Partial(Constants.VIEW, @Model._companyInfo)
@section JavaScript{
    @Html.Script("leadLimit.js")
}

<p class="clearfix"></p>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="table-responsive scrollable-table" id="divLeadlimit">
    <table id="tblLeadLimit" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center" id="tdSelect">Select</th>
                <th class="text-center">Service
                </th>
                <th class="text-center">AreaCode
                </th>
                <th class="text-center">Frequency
                </th>
                <th class="text-center">Daily Limit
                </th>
                <th class="text-center">Monthly Limit
                </th>
                <th class="text-center">Total Limit
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (@Model.LeadLimitData != null)
                {
                    if (@Model.LeadLimitData.Count() > 0)
                    {
                        var bothservice = Model.LeadLimitData.Where(x => x.ServiceId == null).SingleOrDefault();

                        if (bothservice != null)
                        {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" class='chkSelectClass chkBoth'></td>
                    <td id="tdBoth1" class="text-center">@Constants.BOTH_TEXT
                    </td>
                    <td class="text-center">@Constants.DEFAULT
                    </td>
                    <td class="text-center">
                        <input type="text" class="leadLimit-control text-center freqEnable txtFrqBoth" value="@bothservice.LeadFrequency" disabled="disabled" >
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@bothservice.IsDailyLeadLimit">
                        Daily Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control"  value="@bothservice.DailyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@bothservice.IsMonthlyLeadLimit">
                        Monthly Lead Limit :
                        <input type="text" disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@bothservice.MonthlyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@bothservice.IsTotalLeadLimit">
                        Total Lead Limit :
                        <input type="text" disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@bothservice.TotalLeadLimit" ><br>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----OR----
                    </td>
                </tr>
                        }
                        var services = Model.LeadLimitData.Where(x => (x.ServiceId == Constants.LOCAL || x.ServiceId == Constants.LONG) && x.AreaCodes == null).OrderByDescending(x => x.ServiceId).ToList();
                        if (services.Count > 0)
                        {
                            foreach (var service in services)
                            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" class="chkSelectClass text-center chkLocalLong"></td>
                    <td id="tdLocalLong" class="text-center">@service.ServiceId.TernaryLocalLong()
                    </td>
                    <td class="text-center">@Constants.DEFAULT
                    </td>
                    <td class="text-center">
                        <input type="text" class=" text-center leadLimit-control freqEnable txtFrqLocalLong" value="@service.LeadFrequency"  disabled="disabled">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsDailyLeadLimit">
                        Daily Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control"  value="@service.DailyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsMonthlyLeadLimit">
                        Monthly Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@service.MonthlyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsTotalLeadLimit">
                        Total Lead Limit :
                        <input type="text" disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@service.TotalLeadLimit" ><br>
                    </td>
                </tr>
                            }
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----OR----
                    </td>
                </tr>
                        }
                        var allServices = Model.LeadLimitData.Where(x => x.ServiceId != 0 && x.AreaCodes != null).OrderByDescending(x => x.ServiceId).ToList();
                        if (allServices.Count > 0)
                        {
                            foreach (var service in allServices)
                            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox"  class="chkSelectClass" id="rdbtn@(service.ServiceId.TernaryLocalLong())@(service.AreaCodes)"></td>
                    <td id="tdBoth" class="text-center">@(service.ServiceId.TernaryLocalLong())
                    </td>
                    <td class="text-center">@service.AreaCodes
                    </td>
                    <td class="text-center">
                        <input type="text" class=" text-center leadLimit-control freqEnable" value="@service.LeadFrequency"  disabled="disabled">
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsDailyLeadLimit">
                        Daily Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control"  value="@service.DailyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsMonthlyLeadLimit">
                        Monthly Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@service.MonthlyLeadLimit" ><br>
                    </td>
                    <td class="text-center">
                        <input type="checkbox"  class="chkInnerClass" checked="@service.IsTotalLeadLimit">
                        Total Lead Limit :
                        <input type="text"  disabled="disabled" class="classCheckVal  text-center leadLimit-control" value="@service.TotalLeadLimit" ><br>
                    </td>

                </tr>
                            }
                        }
                    }
                }
                else
                {
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----No Records found----
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<p class="clear-fix"></p>
<div class="row">
    <input type="button" id="saveleads" class="btn btn-primary pull-right" value="Save Leads" />
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>
</div>
