@model _123Movers.Models.LeadLimitModel
@using _123Movers.Models;
@{
    ViewBag.Title = "Company Lead Limit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="message" value="@ViewBag.Success"/>
<input type="hidden" id="hdnServiceId" value="@ViewBag.ServiceID"/>

@Html.Partial("_CompanyInfo")

<p class="clearfix"></p>
@*@using (Html.BeginForm("CompanyLeadLimit", "Home", FormMethod.Post, new { id = "frmLeadLimit" }))
{  *@
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="table-responsive">
    <table id="tblLeadLimit" class="table table-striped table-bordered tablesorter">
        <thead>
            <tr>
                <th style="height: 5px;">Select</th>
                <th  class="text-center">Service
                </th>

                <th class="text-center">AreaCode
                </th>

                <th class="text-center">Frequency
                </th>

                <th class="text-center">Daily Limit
                </th>
                <th class="text-center">Monthly Limit
                </th>
                <th class="text-center">Total Limit
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                if (@Model.LeadLimitData != null)
                {
                    if (@Model.LeadLimitData.Count() > 0)
                    {
                        var bothservice = Model.LeadLimitData.Where(x => x.ServiceId == 0).SingleOrDefault();

                        if (bothservice != null)
                        {

                            var Service = "Both";
                            
                <tr>
                    <td>
                        <input type="checkbox" name="group1" class='chkSelectClass' id="rdbtnboth"></td>
                    <td id="tdBoth1">@Service
                    </td>
                    <td>Default
                    </td>
                    <td>
                        <input type="text" id="txtFrequencyboth" class="textBoxWidth" value="@bothservice.LeadFrequency" >
                    </td>
                    <td>
                        <input type="checkbox" id="chkDailyBoth" class="chkInnerClass" checked="@bothservice.IsDailyLeadLimit">
                        Daily Lead Limit:<input type="text" id="txtDailyBoth" disabled="disabled" class="classCheckVal textBoxWidth"  value="@bothservice.DailyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkMonthlyBoth" class="chkInnerClass" checked="@bothservice.IsMonthlyLeadLimit">
                        Monthly Lead Limit:<input type="text" id="txtMonthlyBoth" disabled="disabled" class="classCheckVal textBoxWidth" value="@bothservice.MonthlyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkTotalBoth" class="chkInnerClass" checked="@bothservice.IsTotalLeadLimit">
                        Total Lead Limit:<input type="text" id="txtTotalBoth" disabled="disabled" class="classCheckVal textBoxWidth" value="@bothservice.TotalLeadLimit" ><br>
                    </td>

                </tr>
                
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----OR----
                    </td>
                </tr>
                        }



                        var services = Model.LeadLimitData.Where(x => (x.ServiceId == 1009 || x.ServiceId == 1000) && x.AreaCodes == null).OrderByDescending(x => x.ServiceId).ToList();
                        if (services.Count > 0)
                        {
                            foreach (var service in services)
                            {
                                var ServiceId = (@service.ServiceId == 1009) ? "Local" : "Long";
                                var areaCode = "Default";
                            
                                     
                <tr>
                    <td>
                        <input type="checkbox" name="group1" class='chkSelectClass' id="rdbtn@(ServiceId)"></td>
                    <td id="tdLocalLong">@ServiceId
                    </td>
                    <td>@areaCode
                    </td>
                    <td>
                        <input type="text" id="txtFrequency@(areaCode)" class="textBoxWidth" value="@service.LeadFrequency" >
                    </td>
                    <td>
                        <input type="checkbox" id="chkDaily@(areaCode)" class="chkInnerClass" checked="@service.IsDailyLeadLimit">
                        Daily Lead Limit:<input type="text" id="txtDaily@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth"  value="@service.DailyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkMonthly@(areaCode)" class="chkInnerClass" checked="@service.IsMonthlyLeadLimit">
                        Monthly Lead Limit:<input type="text" id="txtMonthly@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@service.MonthlyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkTotal@(areaCode)" class="chkInnerClass" checked="@service.IsTotalLeadLimit">
                        Total Lead Limit:<input type="text" id="txtTotal@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@service.TotalLeadLimit" ><br>
                    </td>

                </tr>
                            }
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----OR----
                    </td>
                </tr>
                        }


                        var allServices = Model.LeadLimitData.Where(x => x.ServiceId != 0 && x.AreaCodes != null).OrderByDescending(x => x.ServiceId).ToList();
                        if (allServices.Count > 0)
                        {
                            foreach (var service in allServices)
                            {
                                var Service = (@service.ServiceId == 1009) ? "Local" : "Long";
                                var areaCode = @service.AreaCodes;
                                 
                <tr>
                    <td>
                        <input type="checkbox" name="group1" class='chkSelectClass' id="rdbtn@(Service)@(areaCode)"></td>
                    <td id="tdBoth">@Service
                    </td>
                    <td>@areaCode
                    </td>
                    <td>
                        <input type="text" id="txtFrequency@(areaCode)" class="textBoxWidth" value="@service.LeadFrequency" >
                    </td>
                    <td>
                        <input type="checkbox" id="chkDaily@(areaCode)" class="chkInnerClass" checked="@service.IsDailyLeadLimit">
                        Daily Lead Limit:<input type="text" id="txtDaily@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth"  value="@service.DailyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkMonthly@(areaCode)" class="chkInnerClass" checked="@service.IsMonthlyLeadLimit">
                        Monthly Lead Limit:<input type="text" id="txtMonthly@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@service.MonthlyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkTotal@(areaCode)" class="chkInnerClass" checked="@service.IsTotalLeadLimit">
                        Total Lead Limit:<input type="text" id="txtTotal@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@service.TotalLeadLimit" ><br>
                    </td>

                </tr>
                                 
                            }
                        }
                         
                         
                         
                         
@*    var Count = 0;
                         var ModelLength = 0;
                         foreach (var leadlimit in Model.LeadLimitData)
                         {
                             var Service = (@leadlimit.ServiceId == 1009) ? "Local" : (@leadlimit.ServiceId == 1000) ? "Long" : "Both";
                             var areaCode = (@leadlimit.AreaCodes == null) ? "Default" : @leadlimit.AreaCodes;
                            
                                     
                <tr>
                    <td>
                        <input type="checkbox" name="group1" class='chkSelectClass' id="rdbtn@(Service)@(areaCode)"></td>
                    <td id="tdBoth">@Service
                    </td>
                    <td>@areaCode
                    </td>
                    <td>
                        <input type="text" id="txtFrequency@(areaCode)" class="textBoxWidth" value="@leadlimit.LeadFrequency" >
                    </td>
                    <td>
                        <input type="checkbox" id="chkDaily@(areaCode)" class="chkInnerClass" checked="@leadlimit.IsDailyLeadLimit">
                        Daily Lead Limit:<input type="text" id="txtDaily@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth"  value="@leadlimit.DailyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkMonthly@(areaCode)" class="chkInnerClass" checked="@leadlimit.IsMonthlyLeadLimit">
                        Monthly Lead Limit:<input type="text" id="txtMonthly@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@leadlimit.MonthlyLeadLimit" ><br>
                    </td>
                    <td>
                        <input type="checkbox" id="chkTotal@(areaCode)" class="chkInnerClass" checked="@leadlimit.IsTotalLeadLimit">
                        Total Lead Limit:<input type="text" id="txtTotal@(areaCode)" disabled="disabled" class="classCheckVal textBoxWidth" value="@leadlimit.TotalLeadLimit" ><br>
                    </td>

                </tr>
              
                             if (@leadlimit.ServiceId != 0 && @leadlimit.AreaCodes == null)
                             {

                                 Count = Count + 1;

                             }
                             ModelLength = ModelLength + 1;

                             if ((@leadlimit.ServiceId == 0 && @leadlimit.AreaCodes == null) || @Count > 1 || (Count == 1 && ModelLength == 1))
                             {
                <tr>
                    <td class="col-md-6 text-center" colspan="7">----OR----
                    </td>
                </tr>
                                 Count = 0;
                             }
                         }*@

                    }

                }
                else
                {<tr>
                    <td class="col-md-6 text-center" colspan="7">----No Records found----
                    </td>
                </tr>}
            }


        </tbody>
    </table>
</div>
<div class="row">
    <input type="button" id="saveleads" class="btn btn-primary pull-right" value="Save Leads" />
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>

</div>

@*}*@

<script type="text/javascript">
    $(function () {

        $('#tblLeadLimit tbody tr').each(function () {
            $(this).find(".classCheckVal:input[type=text]").each(function () {

                if ($(this).val() != 0 && $(this).val() != '')
                    $(this).attr("disabled", false);


            });
        });



        $("#saveleads").click(function () {
            var count = 0;
            var required = "";
            var Array = [];
            var values = "";
            var LeadLimitData = [];
            var Filleddata = [];

            $('#tblLeadLimit tbody tr').each(function () {

                //Checking for Only checked checkboxes

                $(this).find('.chkSelectClass:checkbox:checked').each(function () {


                    var row = $(this).closest('tr');
                    var columns = row.find('td');

                    debugger;
                    $.each(columns, function (i, item) {
                        if (i > 2) {
                            values = values + "," + $(this).closest('td').find("input:text").val().trim();
                            //var x = $(this).closest('td').find(".chkInnerClass:checkbox:checked");
                            //values = values + "," + x;
                        }
                        else {
                            if (i == 0)
                                values = item.textContent;
                            else
                                values = values + "," + item.textContent.trim();
                        }



                    });
                    //saving lsit of checked item data in a Array.
                    Array.push(values);
                });
            });


            //looping through the Array  and storing in a Array list 
            $.each(Array, function (i, item) {

                required = item.split(",")


                if (required[2] == 'Default') {
                    required[2] = null;

                }
                //if (required[3] == 'Default') {
                //    required[3] = null;

                //}

                if (required[1] == 'Local') {
                    required[1] = 1009;

                }
                else if (required[1] == 'Long') {
                    required[1] = 1000;

                }
                else {
                    required[1] = null;
                }


                LeadLimitData =
               [{
                   AreaCodes: required[2],
                   ServiceId: required[1],
                   LeadFrequency: required[3],
                   DailyLeadLimit: required[4],
                   MonthlyLeadLimit: required[5],
                   TotalLeadLimit: required[6]
               }]

                Filleddata.push(LeadLimitData);

            });

            //Saving the  entire data in DB with Ajax call

            if (Filleddata.length != 0) {
                $.ajax({

                    url: '/Home/CompanyLeadLimit',
                    cache: false,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(Filleddata),// Comverting the list items to JSON format(Because POST method accepts  only JSON data)
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        alert('Successfully Updated:');
                        location.reload();
                    },
                    error: function () {
                        alert('Service call failed');
                    }
                });

            }
            else {
                alert("Please Select any");
                return false;

            }

        });


        $("body #tblLeadLimit ").parent().on('change', ".chkInnerClass", function () {

            if ($(this).prop('checked') == true) {
                //$(this).closest("td").find("input[type=text]").prop("value", "");
                $(this).closest("td").find("input[type=text]").prop("disabled", false);
            }
            else {
                $(this).closest("td").find("input[type=text]").prop("value", "");
                $(this).closest("td").find("input[type=text]").prop("disabled", true);
            }
        });


        $("body #tblLeadLimit ").parent().on('change', "#rdbtnBothDefault,#rdbtnLocalDefault,#rdbtnLongDefault", function () {

            //if ($(this).attr("id") != "rdbtnLocalDefault" && $(this).attr("id") != "rdbtnLongDefault") {

            if ($("#rdbtnBothDefault").prop('checked') == true) {

                $("#rdbtnLocalDefault").prop("checked", false);
                $("#rdbtnLongDefault").prop("checked", false);
            }
            else {
                if ($("#rdbtnLocalDefault").prop("checked") == true || $("#rdbtnLongDefault").prop("checked") == true) {

                    $("#rdbtnBothDefault").prop('checked', false);
                }
            }

        });



    });
</script>
