@model _123Movers.Models.LeadLimitModel
@{
    ViewBag.Title = "Company Lead Limit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="hidden" id="message" value="@ViewBag.Success"/>
<div class="row">
    @Html.Partial("_CompanyInfo")
</div>
<p class="clearfix"></p>
@using (Html.BeginForm("CompanyLeadLimit", "Home", FormMethod.Post, new { id = "frmLeadLimit" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <div class="row">
        <div class="col-lg-4">
           @* <div class="form-group">
                <b>Area Codes :</b>
                 <select id ="ddlAreas" class="form-control">

                </select>
                </div>*@
            <div class="form-group">
                
                @Html.RadioButton("AvailableAreaCodes", "Available Area Codes" , new { id = "availableAreaCodes" })
                <b>Available Area Codes</b>
                    
                @Html.RadioButton("NewAreaCodes", "New Area Codes" , new { id = "newAreaCodes" })
                <b>New Area Codes</b>
                    
              </div>
                  <div class="form-group">
                @Html.LabelFor(m => m.AreaCodes)
                @Html.DropDownListFor(m => m.AreaCodes, ViewBag.AreaCodes as IEnumerable<SelectListItem>,"---Choose One---", new { @class = "form-control dropdown", @title = "Select Area Codes" })
                @Html.ValidationMessageFor(m => m.AreaCodes)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Services)
                @Html.DropDownListFor(m => m.Services, ViewBag.Services as IEnumerable<SelectListItem>,"---Choose One---", new { id = "services", @class = "form-control dropdown", @title = "Select Services" })
                @Html.ValidationMessageFor(m => m.Services)
            </div>
              <div class="form-group">
                    @Html.LabelFor(x => x.LeadFrequency)
                    @Html.TextBoxFor(x => x.LeadFrequency, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LeadFrequency)
                         </div>
            @*<div class="form-group">
                    @Html.LabelFor(x => x.Price)
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price)
                         </div>*@
            @*<div class="form-group">
                    @Html.LabelFor(x => x.LeadCounter)
                    @Html.TextBoxFor(x => x.LeadCounter, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LeadCounter)
             </div>*@
           
        </div>
         <div class="col-md-1"></div>
          <div class="col-lg-4">
               <div class="form-group">
                    @Html.CheckBoxFor(x => x.IsDailyLeadLimit)
                    @Html.LabelFor(x => x.IsDailyLeadLimit)

                   @Html.TextBoxFor(x => x.DailyLeadLimit, new { @class = "form-control", disabled = "disabled"})
                    @Html.ValidationMessageFor(x => x.DailyLeadLimit)
                         </div>

               <div class="form-group">
                    @Html.CheckBoxFor(x => x.IsMonthlyLeadLimit)
                    @Html.LabelFor(x => x.IsMonthlyLeadLimit)
                       
                    @Html.TextBoxFor(x => x.MonthlyLeadLimit, new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(x => x.MonthlyLeadLimit)
                         </div>
                     <div class="form-group">
                    @Html.CheckBoxFor(x => x.IsTotalLeadLimit)
                    @Html.LabelFor(x => x.IsTotalLeadLimit)
                         
                    @Html.TextBoxFor(x => x.TotalLeadLimit, new { @class = "form-control" , disabled = "disabled"})
                    @Html.ValidationMessageFor(x => x.TotalLeadLimit)
                         </div>

               @*<div class="form-group">
                    @Html.LabelFor(x => x.Price)
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price)
                         </div>*@
          </div>

     </div>
    
    
  <div class="row">
    <input type="submit" id="saveleads" class="btn btn-primary pull-right" value="Save Leads" />
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>
</div>
    
}

<script type="text/javascript">
    $(function () {
        var message = $.trim($('#message').val());
        if (typeof message === 'undefined' || message.length <= 0) { } else {
            alert(message);
            //alert('Lead saved successfully..');
            $('#LeadFrequency').val('');
            $('#Price').val('');
            $('#MonthlyLeadLimit').val('');
            $('#DailyLeadLimit').val('');
            $('#TotalLeadLimit').val('');

            $('#IsDailyLeadLimit').prop('checked', false);
            $('#IsMonthlyLeadLimit').prop('checked', false);
            $('#IsTotalLeadLimit').prop('checked', false);
        }

        //GetAvailableAreas();

        function GetAvailableAreas() {
            $.ajax({
                url: '/Home/GetServices',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);

                    var table;
                    var table1 = "<div class='row'><div class ='col-md-6'><table class='table table-striped' id ='table1'><thead><tr><th class='col-md-1'>Select</th><th class='col-md-2'>Area Code</th></tr> </thead><tbody>";
                    var options = '<option value="">---Choose One---</option>';
                    jQuery.each(json, function (i, val) {
                        options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        if (i < Math.round(json.length / 2)) {
                           
                            //table1 += "<tr><td><input type='checkbox' id='chk" + val[0] + "' class='checkbox' /></td><td>" + val[1] + " ---> " + val[0] + "</td><td><input type='hidden' value='" + val[0] + "' class='areacode' /> </td></tr>";
                            table1 += "<tr><td><input type='checkbox' id='chk" + val[0] + "' class='checkbox' /> </td><td>" + val[1] + " ---> " + val[0] + "</td></tr>";
                        }
                    });
                    table1 += "</tbody></table></div>";

                    var table2 = "<div class ='col-md-6'><table class='table table-striped'><thead><tr><th class='col-md-1'>Select</th><th class='col-md-2'>Area Code</th></tr> </thead><tbody>";// "<div class ='col-md-6'><table class='table table-striped' id ='table2'><thead><tr>><th class='col-md-2'>Select</th><th class='col-md-4'>Area Code</th></tr> </thead><tbody>";
                    jQuery.each(json, function (i, val) {
                        if (i >= Math.round(json.length / 2) && i < json.length) {
                            table2 += "<tr><td><input type='checkbox' id='chk" + val[0] + "' class='checkbox' /> </td><td>" + val[1] + " ---> " + val[0] + "</td></tr>"; //"<tr><td><input type='checkbox' id='chk" + val[0] + "' class='checkbox' /></td><td>" + val[1] + " ---> " + val[0] + "</td><td><input type='hidden' value='" + val[0] + "' class='areacode' /> </td></tr>";
                        }
                    });
                    table2 += "</tbody></table></div></div>";
                    table = table1 + table2;


                    $("#selectedareas").html(table);

                    $("#ddlAreas").html(options);


                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }
        $("#IsDailyLeadLimit").change(function () {
            if ($("#IsDailyLeadLimit").is(':checked')) { $('#DailyLeadLimit').removeAttr("disabled") }
            else {
                $("#DailyLeadLimit").attr("disabled", "disabled");
              
            }
        });

        $("#IsMonthlyLeadLimit").change(function () {
            if ($("#IsMonthlyLeadLimit").is(':checked')) { $('#MonthlyLeadLimit').removeAttr("disabled") }
            else {
                $("#MonthlyLeadLimit").attr("disabled", "disabled"); 
            }
        });

        $("#IsTotalLeadLimit").change(function () {
            if ($("#IsTotalLeadLimit").is(':checked')) { $('#TotalLeadLimit').removeAttr("disabled") }
            else {
                $("#TotalLeadLimit").attr("disabled", "disabled");
               
            }
        });
       

    });
</script>
