@model _123Movers.Models.BudgetModel
@using _123Movers.Models;

@{
    ViewBag.Title = "GetBudget";
   
}
@section JavaScript{
    @Html.Script("jquery.dataTables.min.js")
    @Html.Script("getBudget.js")
    @Html.Script("jquery.loadmask.min.js")
}

@Html.Partial(Constants.VIEW, @Model.CompanyInfo)

<p class="clearfix"></p>
@if (@Model != null)
{
    <div>
        <h2>Current Budgets</h2>
        <div class="row">
            <div class="col-md-12">
                <p>@Html.ActionLink("Add Budget", "AddBudget", "Budget",  new { companyid = @Model.CompanyInfo.CompanyId, companyName = @Model.CompanyInfo.CompanyName, ax = @Model.CompanyInfo.Ax, contactperson = @Model.CompanyInfo.ContactPerson, suspended = @Model.CompanyInfo.Suspended, isactive = @Model.CompanyInfo.IsActive }, new { id = "AddBudget", @class = "btn btn-primary btn-lg" })</p>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="table-responsive">
            <table id="ActiveInfo" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Start Date
                        </th>
                        <th class="text-center">Budget Amount
                        </th>
                        <th class="text-center">Remaining Budget
                        </th>
                        <th class="text-center">Terms
                        </th>
                        <th class="text-center">Service
                        </th>
                        <th class="text-center">Filters
                        </th>
                        <th class="text-center">Renew
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
    var activeBudget = Model.CurrentBudgets;
                    }
                    @if (activeBudget.Count > 0)
                    {
                        foreach (var budget in activeBudget)
                        {
                        <tr>
                            <td class="text-center">
                                @{
                            var sdate = @budget.StartDate.HasValue ? @DateTime.Parse(@budget.StartDate.ToString()).ToShortDateString() : null;
                                }
                                @sdate
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @budget.TotalBudget)
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @budget.RemainingBudget)
                            </td>
                            <td class="text-center">
                                @{
                            var recurring = ((bool)@budget.IsRecurring) ? ((bool)@budget.IsRequireNoticeToCharge) ? "Recurring With Notice" : "Recurring" : "Non Recurring";
                                }
                                @recurring
                            </td>
                            <td class="text-center">
                                @{
                            var service = (@budget.ServiceId == Constants.LOCAL) ? "Local" : (@budget.ServiceId == Constants.LONG) ? "Long" : "Both";
                                }
                                @service
                            </td>
                            <td class="text-center">
                                @Html.ActionLink("Edit", "EditBudget", "Budget", new {id = @budget.Id }, new { @class = "btn btn-sm btn-info editBudget" })
                            </td>
                            <td class="text-center">
                                @if (recurring == "Recurring With Notice")
                                {
                                   if(@budget.IsOneTimeRenew)
                                    {
                                        <input type="button" value="Renewed" data-id ="@budget.ServiceId" data-cid ="@budget.CompanyId" class = "btn btn-sm btn-info renewBudget"  disabled="disabled"/>
                                    }
                                    else
                                    {
                                        <input type="button" value="Renew"  data-id ="@budget.ServiceId" data-cid ="@budget.CompanyId" class = "btn btn-sm btn-info renewBudget"/>
                                    }
                                }
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="col-md-6 text-center" colspan="10"><b>No record(s) found</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h2>Past Budgets</h2>

        <div class="table-responsive ">
            <table id="ExpiredInfo" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Start Date
                        </th>
                        <th class="text-center">End Date
                        </th>
                        <th class="text-center">Total Budget
                        </th>
                        <th class="text-center">Terms
                        </th>
                        <th class="text-center">Service
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
    var expiredBudget = Model.PastBudgets;
                    }
                    @if (expiredBudget.Count > 0)
                    {
                        foreach (var budget in expiredBudget)
                        {
                        <tr>
                            <td class="text-center">
                                @{
                            var sdate = @budget.StartDate.HasValue ? @DateTime.Parse(@budget.StartDate.ToString()).ToShortDateString() : null;
                                }
                                @sdate
                            </td>
                            <td class="text-center">
                                @{
                            var edate = @budget.EndDate.HasValue ? @DateTime.Parse(@budget.EndDate.ToString()).ToShortDateString() : null;
                                }
                                @edate
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @budget.TotalBudget)
                            </td>

                            <td class="text-center">
                                @{
                            var recurring = ((bool)@budget.IsRecurring) ? ((bool)@budget.IsRequireNoticeToCharge) ? "Recurring With Notice" : "Recurring" : "Non Recurring";
                                }
                                @recurring
                            </td>
                            <td class="text-center">
                                @{
                            var service = (@budget.ServiceId == Constants.LOCAL) ? Constants.LOCAL_TEXT : (@budget.ServiceId == Constants.LONG) ? Constants.LONG_TEXT : Constants.BOTH_TEXT;
                                }
                                @service
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <p class="clearfix"></p>
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To List</a>

    </div>
</div>
