@{
    ViewBag.Title = "ManageAreaCodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ManageAreacodes", "Home", FormMethod.Post, new { id = "frmareacode" }))
{
    <br />

 
<div>
<table class="table" id="TextAdmin2">
    <tr>
        <td>
            <table class="table" style="width:100%;align-content:center" >
                <tr>
                    <th colspan="2" style="text-align:center"><span id="Text8"> @ViewBag.CompanyName</span>
                        <br>
                        <br>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="#" role="button" id ="local" class="disabled">Local</a>
                    </td>
                    <td colspan="2">
                         <a href="#"  role="button" id ="long">Long</a>
                    </td>
                </tr>
                <tr>
                    <td style="width:50%; text-align:right" id ="tdareacodes">
                        <select name="areaCode" id ="areaCode" size="20" style="width:100px" multiple>

                        </select>&nbsp;
                    </td>
                    <td>&nbsp;
						<select name="areasSelected" id ="areasSelected" style="width:100px" size="20" multiple>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right" >
                        <input type="button" id="add" value="Add -->" class="btn btn-primary">&nbsp;
                    </td>
                    <td>&nbsp;
						<input type="button" id="remove" value="<-- Remove" class="btn btn-primary">
                    </td>
                </tr>
                <tr>
                    <td>
                         <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary">Back</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    </div>
         
}

<script type="text/javascript" >
    $(function () {
        var serviceId;

        if ('@ViewBag.ServiceId' == 1000) {
            serviceId = 1000;
            //$('#long').attr('disabled', 'disabled');
            //$('#local').removeAttr('disabled');
        }
        else {

            serviceId = 1009;
            //$('#local').attr('disabled', 'disabled');
            //$('#long').removeAttr('disabled');
        }
        GetAvailableAreas(serviceId);
        GetSelectedAreas(serviceId);

        function GetAvailableAreas(serviceId) {
            $.ajax({
                url: '/Home/GetAvailableAreas',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache : false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);

                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                    });

                    $('#areaCode').html(options);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }

        function GetSelectedAreas(serviceId) {
           
            $.ajax({
                url: '/Home/GetCompanyAdByArea',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);

                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                    });

                    $('#areasSelected').html(options);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
             });
        }

        $('#add').click(function () {
            var selected = [];
            $('#areaCode :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/AddAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
            success: function (data) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
              });
        });

        $('#remove').click(function () {
            var selected = [];
            $('#areasSelected :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/DeleteAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });

        $('#local').click(function () {
            
            serviceId = 1009;
            GetAvailableAreas(serviceId);
            GetSelectedAreas(serviceId);
        });

        $('#long').click(function () {
            serviceId = 1000;
            GetAvailableAreas(serviceId);
            GetSelectedAreas(serviceId);
         });

    });
</script>