@{
    ViewBag.Title = "ManageAreaCodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm("ManageAreacodes", "Home", FormMethod.Post, new { id = "frmareacode" }))
{*@
<br />
<div class="row">
    <h4 class="alignLeft"><strong>@ViewBag.CompanyName</strong></h4>
</div>
<div class="row">

    <ul class="nav nav-tabs" id="ServiceTab">
        <li class="cslocal"><a href="#local" data-toggle="tab">Local</a></li>
        <li class="cslong"><a href="#local" data-toggle="tab">Long</a></li>

    </ul>
    <br />
</div>
<div class="row">
    <div class="col-md-6">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="local">


                <select name="areaCode" id="areaCode" size="20" style="width: 150px" multiple>
                </select>


                <input type="button" id="add" value="Add -->" class="btn btn-primary" />
                <input type="button" id="remove" value="<-- Remove" class="btn btn-primary">


                <select name="areasSelected" id="areasSelected" style="width: 150px" size="20" multiple>
                </select>


            </div>



        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <b>Default Price:
                <input type="text" id="txtDefaultPrice"></b>
        </div>
        <br />
        <div class="row">
            <div class='panel-group' id='accordion'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Selected Areas <span class="glyphicon glyphicon-plus  pull-right"></span></a></h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="selectedareas" class ="scrollable-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="row">
    <input type="button" id="saveprice" class="btn btn-primary pull-right" value="Save Prices" />
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>


</div>


@*}*@

<script type="text/javascript">
    $(function () {
        var serviceId;
        var ServiceType;

        if ('@ViewBag.ServiceId' == 1000) {
            serviceId = 1000;
            ServiceType = 'long';
            $('#ServiceTab a:last').tab('show') // Select last 
            $('li.cslocal').hide();
        }
        else if ('@ViewBag.ServiceId' == 1009) {

             serviceId = 1009;
             ServiceType = 'local';
             $('#ServiceTab a:first').tab('show') // Select first 
             $('li.cslong').hide();
         }
         else {
             serviceId = 1009;
             ServiceType = 'Both';
             $('#ServiceTab a:first').tab('show') // Default first 

        }

        GetAvailableAreas(serviceId, ServiceType);
        GetSelectedAreas(serviceId, ServiceType);

   

        function GetAvailableAreas(serviceId, ServiceType) {
            $.ajax({
                url: '/Home/GetAvailableAreas',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);
                    var table;
                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                    });

               
                        $('#areaCode').html(options);
                   
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }

        function GetSelectedAreas(serviceId, ServiceType) {

            $.ajax({
                url: '/Home/GetCompanyAdByArea',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);


                    var table;
                    var table1 = "<div class ='col-md-6' ><table class='table table-striped' id ='table1' ><thead><tr><th class='col-md-2'>" + 'Area Code' + "</th><th class='col-md-2'>" + 'Price' + "</th></tr> </thead><tbody>";
                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                        if (i < Math.round(json.length / 2))
                        {
                            table1 += "<tr><td>" + val[1] + " ---> " + val[0] + "</td><td><input type='text' id='txt" + val[0] + "' value ='" + val[2] + "' class='form-control' /><input type='hidden' value='" + val[0] + "' class='areacode' /> </td></tr>";
                        }
                        
                    });
                    table1 += "</tbody></table></div>";

                    var table2 = "<div class ='col-md-6' ><table class='table table-striped' id ='table2'><thead><tr><th class='col-md-2'>" + 'Area Code' + "</th><th class='col-md-2'>" + 'Price' + "</th></tr> </thead><tbody>";
                    jQuery.each(json, function (i, val) {
                        if (i >= Math.round(json.length / 2) && i < json.length)
                        {
                            table2 += "<tr><td>" + val[1] + " ---> " + val[0] + "</td><td><input type='text' id='txt" + val[0] + "' value ='" + val[2] + "' class='form-control' /><input type='hidden' value='" + val[0] + "' class='areacode' /> </td></tr>";
                        }
                    });

                    table2 += "</tbody></table></div>"; 
                    table = table1 + table2;

                    $('#selectedareas').html(table);

                    $('#areasSelected').html(options);
  
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }

        $('#saveprice').on("click", function () {
            var defaultprice = $.trim($('#txtDefaultPrice').val());
            var decimal = /^(\d*\.?\d*)$/;
            debugger;
            var areacodes = [];
            $("#table1 tbody tr").each(function () {
                var areaprice = $(this).closest('tr').find('.form-control').val();
                var areacode = $(this).closest('tr').find('.areacode').val();
                if (areaprice.length > 0) {
                    if (!areaprice.match(decimal)) {
                        alert('Please Enter a Valid Numeric Price :' + areacode + '-' + areaprice);
                        return false;
                    }
                    areacodes.push(areacode + '-' + areaprice);
                }
                else {
                    if (defaultprice.length > 0) {
                        if (!defaultprice.match(decimal)) {
                            alert('Please Enter a Valid Default Price');
                            return false;
                        }
                        if (areacodes.length > 0)
                        {
                            if (areacodes.indexOf('null-' + defaultprice) > -1) {
                               
                            } else { areacodes.push(null + '-' + defaultprice); }
                        }
                       // areacodes.push(null + '-' + defaultprice);
                    }
                }

            });
            $("#table2 tbody tr").each(function () {
                var areaprice = $(this).closest('tr').find('.form-control').val();
                var areacode = $(this).closest('tr').find('.areacode').val();
                if (areaprice.length > 0) {
                    if (!areaprice.match(decimal)) {
                        alert('Please Enter a Valid Numeric Price :' + areacode + '-' + areaprice);
                        return false;
                    }
                    areacodes.push(areacode + '-' + areaprice);
                }
                if (defaultprice.length > 0) {
                    if (!defaultprice.match(decimal)) {
                        alert('Please Enter a Valid Default Price');
                        return false;
                    }
                    if (areacodes.length > 0) {
                        if (areacodes.indexOf('null-' + defaultprice) > -1) {

                        } else { areacodes.push(null + '-' + defaultprice); }
                    }
                    // areacodes.push(null + '-' + defaultprice);
                }

            });

            var rows = $("#table1 tbody tr").length + $("#table2 tbody tr").length;

            if (areacodes.length == 0) {
                alert('Please enter the price values');
                return false;
            }
            if (areacodes.length != rows && defaultprice.length == 0)
            {
                alert('Please enter default price');
                return false;
            }

            var jsareacodes = JSON.stringify(areacodes);

           $.ajax({
                url: '/Home/AddCompanyPricePerLead',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: jsareacodes },
                success: function (data) {
                    if (data.success === true) {
                        alert('Prices Saved Suceessfully');
                    } else {
                        alert("Error :" + data.message);
                    }
                   
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var errMessage = JSON.parse(xhr.responseText).customErrorMessage;
                    alert('Error occurred while saving the prices' + errMessage);
                }
            });

        });

        $('#add').click(function () {
            var selected = [];
            $('#areaCode :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/AddAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
            if (serviceId == 1000) {
                $('#ServiceTab a:last').tab('show') // Select last 

            }
            else {

                $('#ServiceTab a:first').tab('show') // Select first 
            }
        });

        $('#remove').click(function () {
            var selected = [];
            $('#areasSelected :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/DeleteAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
            if (serviceId == 1000) {
                $('#ServiceTab a:last').tab('show') // Select last 

            }
            else {

                $('#ServiceTab a:first').tab('show') // Select first 
            }
        });


        $('#accordion span').parent().click(function () {

            if ($('#accordion span').hasClass('glyphicon glyphicon-plus')) {
                $('#accordion span').removeClass("glyphicon glyphicon-plus");
                $('#accordion span').addClass("glyphicon glyphicon-minus");

            }
            else {

                $('#accordion span').removeClass("glyphicon glyphicon-minus");
                $('#accordion span').addClass("glyphicon glyphicon-plus");

            }

        });

        $('#ServiceTab > li:first').click(function () {

            serviceId = 1009;
            GetAvailableAreas(serviceId, 'local');
            GetSelectedAreas(serviceId, 'local');
        });

        $('#ServiceTab > li:last').click(function () {
            serviceId = 1000;
            GetAvailableAreas(serviceId, 'long');
            GetSelectedAreas(serviceId, 'long');
        });

    });
</script>
