@{
    ViewBag.Title = "ManageAreaCodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm("ManageAreacodes", "Home", FormMethod.Post, new { id = "frmareacode" }))
{
    *@<br />
<div class ="row">
    <h4 class="alignLeft"><strong>@ViewBag.CompanyName</strong></h4>
   </div>
<div class="row">
    
    <ul class="nav nav-tabs" id="ServiceTab">
        <li class="cslocal"><a href="#local" data-toggle="tab">Local</a></li>
        <li class="cslong"><a href="#long" data-toggle="tab">Long</a></li>

    </ul>
    <br />
    </div>
<div class="row">
    <div class="col-md-6">
    <!-- Tab panes -->
    <div class="tab-content" style="margin-bottom: -235px;" >
        <div class="tab-pane" id="local">
          
                
            <select name="areaCode" id="areaCodeLocal" size="20" style="width: 150px" multiple>
            </select>


            <input type="button" id="addLocal" value="Add -->" class="btn btn-primary" />
            <input type="button" id="removeLocal" value="<-- Remove" class="btn btn-primary">


            <select name="areasSelected" id="areasSelectedLocal" style="width: 150px" size="20" multiple>
            </select>
            

        </div>



        <div class="tab-pane" id="long">


            <select name="areaCode" id="areaCodeLong" size="20" style="width: 150px" multiple>
            </select>

            <input type="button" id="addLong" value="Add -->" class="btn btn-primary">
            <input type="button" id="removeLong" value="<-- Remove" class="btn btn-primary">

            <select name="areasSelected" id="areasSelectedLong" style="width: 150px" size="20" multiple>
            </select>
        </div>
      

    </div>
 </div>
    <div class="col-md-6">
          <div id ="selectedareas"></div>
    </div>
    </div>
<div>
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary">Back To Edit</a>
</div>

         
@*}*@

<script type="text/javascript">
    $(function () {
        var serviceId;
        var ServiceType;

        if ('@ViewBag.ServiceId' == 1000) {
            serviceId = 1000;
            ServiceType = 'long';
        }
        else {

            serviceId = 1009;
            ServiceType = 'local';
        }
        GetAvailableAreas(serviceId, ServiceType);
        GetSelectedAreas(serviceId, ServiceType);

        function GetAvailableAreas(serviceId, ServiceType) {
            $.ajax({
                url: '/Home/GetAvailableAreas',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);
                    var table;
                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                    });

                    if (ServiceType == 'local')
                        $('#areaCodeLocal').html(options);
                    else
                        $('#areaCodeLong').html(options);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }

        function GetSelectedAreas(serviceId, ServiceType) {

            $.ajax({
                url: '/Home/GetCompanyAdByArea',
                type: "GET",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId },
                dataType: "json",
                cache: false,
                success: function (data) {
                    var strigifyJson = JSON.stringify(data);
                    var json = $.parseJSON(strigifyJson);

                    var table;
                    table = "<div class ='scrollable-table'><table class='table table-striped'><thead><tr><th class='col-md-1'>Select</th><th class='col-md-2'>" + 'Area Code' + "</th><th class='col-md-2'>" + 'Price' + "</th></tr> </thead><tbody>";
                    var options = '<option value=""></option>';
                    jQuery.each(json, function (i, val) {
                        if (i == 0) {
                            options = '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        } else {
                            options += '<option value="' + val[0] + '">' + val[1] + ' - ' + val[0] + '</option>';
                        }
                        table += "<tr><td><input type='checkbox' id='chk" + val[0] + "' class='checkbox' /> </td><td>" + val[1] + " ---> " + val[0] + "</td><td><input type='text' id='txt" + val[0] + "' class='form-control' /> </td></tr>";
                    });
                    table += "</tbody></table></div>";

                    $('#selectedareas').html(table);
         
                    if (ServiceType == 'local') {
                        $('#areasSelectedLocal').html(options);
                    }
                    else {
                        $('#areasSelectedLong').html(options);
                    }

                    // $('#areasSelected').html(options);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        }

        $('#addLocal').click(function () {
            var selected = [];
            $('#areaCodeLocal :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/AddAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });

        $('#removeLocal').click(function () {
            var selected = [];
            $('#areasSelectedLocal :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/DeleteAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });


        $('#addLong').click(function () {
            var selected = [];
            $('#areaCodeLong :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/AddAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {



                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });

        $('#removeLong').click(function () {
            var selected = [];
            $('#areasSelectedLong :selected').each(function (i, el) {
                selected[i] = $(this).val();
            });
            var data_to_send = JSON.stringify(selected);
            $.ajax({
                url: '/Home/DeleteAreaCodes',
                type: "POST",
                data: { 'companyId': '@ViewBag.CompanyID', 'serviceId': serviceId, 'companyName': '@ViewBag.CompanyName', areaCodes: data_to_send },
                success: function (data) {




                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });

    

        $('#ServiceTab > li:first').click(function () {
           
            serviceId = 1009;
            GetAvailableAreas(serviceId, 'local');
            GetSelectedAreas(serviceId, 'local');
        });

        $('#ServiceTab > li:last').click(function () {
            serviceId = 1000;
            GetAvailableAreas(serviceId, 'long');
            GetSelectedAreas(serviceId, 'long');
        });

        if (ServiceType == 'local') {
            $('#ServiceTab a[href="#local"]').tab('show')
        }
        else
            $('#ServiceTab a[href="#long"]').tab('show')
    });
</script>
