@model _123Movers.Models.SearchModel
@using _123Movers.Models
@{
    ViewBag.Title = "Search";
}
@section JavaScript{
    @Html.Script("search.js")
    @Html.Script("jquery.dataTables.min.js")
}
<h2>Search for Company </h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "frmsearch", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="alert-box message-error row" style="margin-left: 160px"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-4">Name</label>
                <div class="col-md-8">@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", id = "CompanyName", @placeholder = "Enter Company Name" })</div>
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" id="lblCompanyId">Company ID</label>
                <div class="col-md-8">@Html.TextBoxFor(m => m.CompanyId, new { @class = "form-control", id = "CompanyId", @placeholder = "Enter Company Id" })</div>
                @Html.ValidationMessageFor(m => m.CompanyId)
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" id="lblAX">AX #</label>
                <div class="col-md-8">@Html.TextBoxFor(m => m.AX, new { @class = "form-control", id = "AX", @placeholder = "Enter Company AX" })</div>
                @Html.ValidationMessageFor(m => m.AX)
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" id="lblInsertionOrderId">Insertion Order ID</label>
                <div class="col-md-8">@Html.TextBoxFor(m => m.InsertionOrderId, new { @class = "form-control", id = "InsertionOrderId", @placeholder = "Enter Company Insertion" })</div>
                @Html.ValidationMessageFor(m => m.InsertionOrderId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input type="submit" value="Search" class="btn btn-primary btn-lg pull-right" id="btnSearch">
        </div>
    </div>
}
<br />
@if (@Model != null)
{
    <div class="table-responsive">
        <table id="info" class="table  table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="header text-center">Company ID
                    </th>
                    <th class="header text-center">Company Name
                    </th>
                    <th class="header text-center">AX #
                    </th>
                    <th class="header text-center" id="notSortID">Actions
                    </th>
                </tr>
            </thead>
            @if (@Model.Companies != null && @Model.Companies.Count() > 0)
            {
                foreach (var lot in Model.Companies)
                {
                <tr>
                    <td class="text-center">
                        @lot.CompanyId
                    </td>
                    <td class="text-center">
                        @lot.CompanyName
                    </td>
                    <td class="text-center">
                        @lot.AX
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Budget", "GetBudget", "Budget", new { companyid = @lot.CompanyId, companyName = @lot.CompanyName, ax = @lot.AX, contactperson = @lot.ContactPerson, suspended = @lot.Suspended, isactive = @lot.IsActive }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Reports", "Reports", "Report", new { companyid = @lot.CompanyId, companyName = @lot.CompanyName, ax = @lot.AX, contactperson = @lot.ContactPerson, suspended = @lot.Suspended, isactive = @lot.IsActive }, new { @class = "btn btn-info btn-sm" })
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td class="col-md-6 text-center" colspan="10"><b>No Results Found</b>
                    </td>
                </tr>
            }
        </table>
    </div>
}