@model _123Movers.Models.MoveWeightModel
@using _123Movers.Models
@{
    ViewBag.Title = "MoveWeight";
}
@Html.Partial(Constants.VIEW, @Model.CompanyInfo)

@section JavaScript{
    @Html.Script("moveWeight.js")
}

<p class="clearfix"></p>
<p class="clearfix"></p>

<input type="hidden" id="message" value="@ViewBag.Success"/>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.ServiceId)
            @Html.DropDownListFor(m => m.ServiceId, ViewBag.Services as IEnumerable<SelectListItem>, "--Choose One--", new { id = "services", @class = "form-control dropdown", @title = "Select Services" })
            @Html.ValidationMessageFor(m => m.ServiceId)
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.MinMoveWeightSeq)
            @Html.DropDownListFor(m => m.MinMoveWeightSeq, ViewBag.MinMoveWeight as IEnumerable<SelectListItem>, "--Choose One--", new { id = "minMoveWeight", @class = "form-control dropdown", @title = "Select Min Move Weight" })
            @Html.ValidationMessageFor(m => m.MinMoveWeightSeq)
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.MaxMoveWeightSeq)
            @Html.DropDownListFor(m => m.MaxMoveWeightSeq, ViewBag.MinMoveWeight as IEnumerable<SelectListItem>, "--Choose One--", new { id = "maxMoveWeight", @class = "form-control dropdown", @title = "Select Max Move Weight" })
            @Html.ValidationMessageFor(m => m.MaxMoveWeightSeq)
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" id="savemoveweight" class="btn btn-primary pull-right" value="Save Weight" />
         <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>
    </div>
</div>
