@model  _123Movers.Models.MoveDistanceModel

@using _123Movers.Models;
@{
    ViewBag.Title = "Move Distance";
}

@section Javascript{
    @Html.Script("moveDistance.js")
}

<input type="hidden" id="message" value="@ViewBag.Success"/>

@Html.Partial(Constants.VIEW, @Model._companyInfo)

<p class="clearfix"></p>
<p class="clearfix"></p>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<p class="clearfix"></p>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.ServiceId)
            @Html.DropDownListFor(m => m.ServiceId, ViewBag.Services as IEnumerable<SelectListItem>, "--Choose One--", new { id = "ddlServiceID", @class = "form-control dropdown", @title = "Select Services" })
            @Html.ValidationMessageFor(m => m.ServiceId)
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.MinMoveDistance)
            @Html.TextBoxFor(m => m.MinMoveDistance, new { @class = "form-control", @placeholder = "Enter Min Move Distance" })
            @Html.ValidationMessageFor(m => m.MinMoveDistance)
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.MaxMoveDistance)
            @Html.TextBoxFor(m => m.MaxMoveDistance, new { @class = "form-control", @placeholder = "Enter Max Move Distance" })
            @Html.ValidationMessageFor(m => m.MaxMoveDistance)
        </div>
    </div>
</div>

<p class="clear-fix"></p>
<div class="row ">
    <div class="col-md-12">
        <input type="button" id="saveDistance" class="btn btn-primary pull-right" value="Save Distance" />&nbsp;&nbsp;
     <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>
    </div>
</div>