@model _123Movers.Models.RadiusModel
@using _123Movers.Models
@{
    ViewBag.Title = "Radius Information";
}
@section JavaScript{
    @Html.Script("radius.js")
    @Html.Script("jquery.dataTables.min.js")
}
<input type="hidden" id="serviceid" value="@ViewBag.ServiceId"/>
@Html.Partial(Constants.VIEW, @Model._companyInfo)
<p class="clearfix"></p>
<p class="clearfix"></p>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.ServiceId)
            @Html.DropDownListFor(m => m.ServiceId, ViewBag.Services as IEnumerable<SelectListItem>, "--Choose One--", new { id = "ddlServiceID", @class = "form-control dropdown", @title = "Select Services" })
            @Html.ValidationMessageFor(m => m.ServiceId)
        </div>
        <div class="form-group">
            <strong>Category</strong><br />
            <select name="lesserorgreater" id="ddllessorgreate" class="form-control dropdown" size="1" title="Select category">
                <option value="">--Choose One--</option>
                <option value="GREATER">Greater</option>
                <option value="LESSER">Lesser</option>
            </select>
        </div>
        <div class="form-group">
            <strong>Type</strong><br />
            <select name="origordest" id="ddlorigordest" class="form-control dropdown" size="1" title="Select Type">
                <option value="">--Choose One--</option>
                <option value="ORIGIN">Origin</option>
                <option value="DEST">Destination</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <strong>Radius(Miles)</strong><br />
            <input type="text" id="txtradius" class="form-control" title="Enter Radius" />
        </div>
        <div class="form-group">
            <strong>Origin Zip Code</strong><br />
            <input type="text" id="txtzipcode" class="form-control" title="Enter Zip Code" />
        </div>
    </div>
</div>
<div class="col-md-1"></div>
<p class="clear-fix"></p>
<div class="row">
    <div class="col-md-12">
        <input type="submit" id="btnGetRadius" class="btn btn-primary pull-right" value="Get" />
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To Edit</a>
    </div>
</div>
<p class="clear-fix"></p>
<div class="row" id="divGetRecords">
    <div class="table-responsive">
        <table id="tblRadius" class="table table-bordered table-striped table-hover">
        </table>
    </div>
</div>
<p class="clear-fix"></p>
<div class="row">
    <div class="col-md-12">
        <input type="submit" id="btnRadius" class="btn btn-primary pull-right " value="Save" />

    </div>
</div>
