@model _123Movers.Models.AreaCodeModel
@using _123Movers.Models
@{
    ViewBag.Title = "Budget Filter Info";
}
@Html.Partial(Constants.VIEW, @Model.CompanyInfo)

<p class="clearfix"></p>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="bfilter" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Service
                        </th>
                        <th class="text-center">Area Code
                        </th>
                        <th class="text-center">Forced
                        </th>
                        <th class="text-center">Destination Area
                        </th>
                        <th class="text-center">Distance
                        </th>
                          <th class="text-center">Weight 
                        </th>
                        <th class="text-center">Origin Zip
                        </th>
                        <th class="text-center">Specific Origin Dest. By Area 
                        </th>
                        <th class="text-center">Specific Origin Dest. By State 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.AreaCodes.Count > 0)
                    {
                        foreach (var areaCode in Model.AreaCodes)
                        {
                        <tr>
                            <td class="text-center">
                                @{
                            var service = (@areaCode.ServiceId == Constants.LOCAL) ? "Local" : (@areaCode.ServiceId == Constants.LONG) ? "Long" : "Both";
                                }
                                @service
                            </td>
                            <td class="text-center">
                                @areaCode.AreaCode
                            </td>
                            <td class="text-center">
                                @{
                            var force = (@areaCode.IsForceSelect == 1) ? "Yes" : "No";
                                }
                                @force
                            </td>
                            <td class="text-center">
                                @{
                            var destArea = (@areaCode.IsDestinationAreaCode == 1) ? "Yes" : "No";
                                }
                                @destArea
                            </td>
                            <td class="text-center">
                                @{
                            var moveDistance = (@areaCode.IsMoveDistanceSelect == 1) ? "Yes" : "No";
                                }
                                @moveDistance
                            </td>
                            <td class="text-center">
                                @{
                            var moveWeight = (@areaCode.IsMoveWeightSelect == 1) ? "Yes" : "No";
                                }
                                @moveWeight
                            </td>
                            <td class="text-center">
                                @{
                            var originZip = (@areaCode.IsOriginZipCode == 1) ? "Yes" : "No";
                                }
                                @originZip
                            </td>
                            <td class="text-center">
                                @{
                            var spDestArea = (@areaCode.IsSpecificOriginDestinationAreacode == 1) ? "Yes" : "No";
                                }
                                @spDestArea
                            </td>
                            <td class="text-center">
                                @{
                            var spOrgDestState = (@areaCode.IsSpecificOriginDestinationState == 1) ? "Yes" : "No";
                                }
                                @spOrgDestState
                            </td>
                        </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td class="col-md-6 text-center" colspan="9"><b>No record(s) found</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="row ">
    <div class="col-md-12">
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary pull-right">Back To Edit</a>
    </div>
</div>
<script type="text/javascript">
    $('.TitleStyle').text('Budget Filter Info');
</script>

