@model _123Movers.Models.AreaCodeModel
@using _123Movers.Models
@{
    ViewBag.Title = "Budget Filter Info";
}
@Html.Partial(Constants.VIEW, @Model._companyInfo)

<p class="clearfix"></p>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="bfilter" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Service
                        </th>
                        <th class="text-center">Area Code
                        </th>
                        <th class="text-center">Forced
                        </th>
                        <th class="text-center">Destination Area
                        </th>
                        <th class="text-center">Destination Zip
                        </th>
                        <th class="text-center">Distance
                        </th>
                          <th class="text-center">Weight 
                        </th>
                        <th class="text-center">Origin Zip
                        </th>
                        <th class="text-center">Specific Origin Dest. By Area 
                        </th>
                        <th class="text-center">Specific Origin Dest. By State 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model._areaCodes.Count > 0)
                    {
                        foreach (var areaCode in Model._areaCodes)
                        {
                        <tr>
                            <td class="text-center">
                                @{
                            var Service = (@areaCode.serviceID == Constants.LOCAL) ? "Local" : (@areaCode.serviceID == Constants.LONG) ? "Long" : "Both";
                                }
                                @Service
                            </td>
                            <td class="text-center">
                                @areaCode.areaCode
                            </td>
                            <td class="text-center">
                                @{
                            var Force = (@areaCode.isForceSelect == 1) ? "Yes" : "No";
                                }
                                @Force
                            </td>
                            <td class="text-center">
                                @{
                            var DestArea = (@areaCode.isDestinationAreaCode == 1) ? "Yes" : "No";
                                }
                                @DestArea
                            </td>
                            <td class="text-center">
                                @{
                            var DestZip = (@areaCode.isDestinationZipCode == 1) ? "Yes" : "No";
                                }
                                @DestZip
                            </td>
                            <td class="text-center">
                                @{
                            var MoveDistance = (@areaCode.isMoveDistanceSelect == 1) ? "Yes" : "No";
                                }
                                @MoveDistance
                            </td>
                            <td class="text-center">
                                @{
                            var MoveWeight = (@areaCode.isMoveWeightSelect == 1) ? "Yes" : "No";
                                }
                                @MoveWeight
                            </td>
                            <td class="text-center">
                                @{
                            var OriginZip = (@areaCode.isOriginZipCode == 1) ? "Yes" : "No";
                                }
                                @OriginZip
                            </td>
                            <td class="text-center">
                                @{
                            var SpDestArea = (@areaCode.isSpecificOriginDestinationAreacode == 1) ? "Yes" : "No";
                                }
                                @SpDestArea
                            </td>
                            <td class="text-center">
                                @{
                            var SpOrgDestState = (@areaCode.isSpecificOriginDestinationState == 1) ? "Yes" : "No";
                                }
                                @SpOrgDestState
                            </td>
                        </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td class="col-md-6 text-center" colspan="10"><b>No record(s) found</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="row ">
    <div class="col-md-12">
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary pull-right">Back To Edit</a>
    </div>
</div>
<script type="text/javascript">
    $('.TitleStyle').text('Budget Filter Info');
</script>

