@model _123Movers.Models.BudgetModel
@using _123Movers.Models
@{
    ViewBag.Title = "Edit Budget";
}

@Html.Partial(Constants.VIEW, @Model._companyInfo)

@section JavaScript{
    @Html.Script("editBudget.js")
    @Html.Script("jquery.loadmask.min.js")
}
@using (Html.BeginForm("EditBudget", "Budget", FormMethod.Post, new { id = "frmeditbudget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p class="clearfix"></p>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TotalBudget)
                @Html.TextBoxFor(m => m.TotalBudget, new { @class = "form-control", @readonly = "readonly", Value = String.Format("{0:0.00}", Model.TotalBudget), @placeholder = "Enter Company Budget" })
                @Html.ValidationMessageFor(m => m.TotalBudget)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AgreementNumber)
                @Html.TextBoxFor(m => m.AgreementNumber, new { @class = "form-control", @placeholder = "Enter Agreement Number" })
                @Html.ValidationMessageFor(m => m.AgreementNumber)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TermType)
                @Html.DropDownListFor(m => m.TermType, ViewBag.Terms as IEnumerable<SelectListItem>, new { @class = "form-control dropdown", @title = "Select Terms" })
                @Html.ValidationMessageFor(m => m.TermType)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ServiceId)
                @Html.DropDownListFor(m => m.ServiceId, ViewBag.Services as IEnumerable<SelectListItem>, new { id = "services", @class = "form-control dropdown", @title = "Select Services", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.ServiceId)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.MinDaysToCharge)
                @Html.TextBoxFor(m => m.MinDaysToCharge, new { @class = "form-control", @placeholder = "Enter Min Days To Charge" })
                @Html.ValidationMessageFor(m => m.MinDaysToCharge)
            </div>

            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>

        </div>
    </div>
   
    var Service = (@Model.ServiceId == (int)ServiceType.Both) ? null : @Model.ServiceId;
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Area Codes", "AreaCodes", "AreaCode", new { serviceId = Service }, new { id = "managearea", @class = "btn btn-default spnload" })
            @Html.ActionLink("Lead Limit", "LeadLimit", "LeadLimit", new { serviceId = Service }, new { id = "leadlimit", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Origin Zip", "OriginZipCodes", "OriginZipCode", new { serviceId = Service }, new { id = "originzip", @class = "btn btn-default clsdisable spnload" })
            @*@Html.ActionLink("Destination Zip", "DestinationZipCodes", "DestinationZipCode", new { serviceId = Service }, new { id = "destzip", @class = "btn btn-default spnload" })*@
            @*@Html.ActionLink("Destination Zip", "DestZipCode", "DestZipCode", new { serviceId = Service }, new { id = "destareazip", @class = "btn btn-default clsdisable spnload" })*@
            @Html.ActionLink("Destination Area", "DestinationAreaCode", "DestinationAreaCode", new { serviceId = Service }, new { id = "destarea", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Distance", "MoveDistance", "MoveDistance", new { serviceId = Service }, new { id = "distance", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Move Weight", "MoveWeight", "MoveWeight", new { serviceId = Service }, new { id = "movewight", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Specific Areas", "SpecificOriginAreaCodes", "SpecificOriginAreaCodes", new { serviceId = Service }, new { id = "specificAreas", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Specific States", "SpecificStates", "SpecificStates", new { serviceId = Service }, new { id = "specificStates", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Radius", "Radius", "Radius", new { serviceId = Service }, new { id = "radius", @class = "btn btn-default spnload" })
        </div>
    </div>
    <p class="clear-fix"></p>
    <div class="row">
        <div class="col-md-6">
             @Html.ActionLink("Get Filter Info", "BudgetFilterInfo", "Budget", new { serviceId = Service }, new { id = "btnfilter", @class = "btn btn-default clsdisable spnload" })
            @* <a id="btnfilter"  class="btn btn-default clsdisable spnload" href="#" data-toggle="modal" data-target="#myModal" >Get Filter Info</a>*@
        </div>
        <div class="col-md-6">
            <input type="submit" id="save" class="btn btn-primary pull-right" value="Save Budget" />
            <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To List</a>

        </div>
    </div>
    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close cross" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center" id="myModalLabel"><b>Filter Information</b></h4>
                </div>
                <div class="modal-body text-center">
                    <div class="modal-content" id="divfilter" style="overflow-y:auto;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cross" data-dismiss="modal" id="close">Close</button>
                </div>
            </div>
        </div>
    </div>*@
}