@model _123Movers.Models.BudgetModel
@using _123Movers.Models
@{
    ViewBag.Title = "Edit Budget";
}

@Html.Partial(Constants.VIEW, @Model.CompanyInfo)

@section JavaScript{
    @Html.Script("editBudget.js")
    @Html.Script("jquery.loadmask.min.js")
}
@using (Html.BeginForm("EditBudget", "Budget", FormMethod.Post, new { id = "frmeditbudget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.CompanyId)
    @Html.HiddenFor(m => m.ServiceId)

    <p class="clearfix"></p>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TotalBudget)
                @Html.TextBoxFor(m => m.TotalBudget, new { @class = "form-control", @readonly = "readonly", Value = String.Format("{0:0.00}", Model.TotalBudget), @placeholder = "Enter Company Budget" })
                @Html.ValidationMessageFor(m => m.TotalBudget)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AgreementNumber)
                @Html.TextBoxFor(m => m.AgreementNumber, new { @class = "form-control", @placeholder = "Enter Agreement Number" })
                @Html.ValidationMessageFor(m => m.AgreementNumber)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TermType)
                @Html.DropDownListFor(m => m.TermType, ViewBag.Terms as IEnumerable<SelectListItem>, new { @class = "form-control dropdown", @title = "Select Terms" })
                @Html.ValidationMessageFor(m => m.TermType)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ServiceId)
                @Html.DropDownListFor(m => m.ServiceId, ViewBag.Services as IEnumerable<SelectListItem>, new { id = "services", @class = "form-control dropdown", @title = "Select Services", @disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.ServiceId)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(m => m.MinDaysToCharge)
                @Html.TextBoxFor(m => m.MinDaysToCharge, new { @class = "form-control", @placeholder = "Enter Min Days To Charge" })
                @Html.ValidationMessageFor(m => m.MinDaysToCharge)
            </div>

            <p class="clearfix"></p>
            <p class="clearfix"></p>
            <p class="clearfix"></p>

        </div>
    </div>
   
    var service = (@Model.ServiceId == (int)ServiceType.Both) ? null : @Model.ServiceId;
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Area Codes", "AreaCodes", "AreaCode", new {Model.CompanyId, serviceId = service }, new { id = "managearea", @class = "btn btn-default spnload" })
            @Html.ActionLink("Lead Limit", "LeadLimit", "LeadLimit", new { Model.CompanyId,serviceId = service }, new { id = "leadlimit", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Origin Zip", "OriginZipCodes", "OriginZipCode", new {Model.CompanyId, serviceId = service }, new { id = "originzip", @class = "btn btn-default clsdisable spnload" })
            @*@Html.ActionLink("Destination Zip", "DestinationZipCodes", "DestinationZipCode", new { serviceId = Service }, new { id = "destzip", @class = "btn btn-default spnload" })*@
            @*@Html.ActionLink("Destination Zip", "DestZipCode", "DestZipCode", new { serviceId = Service }, new { id = "destareazip", @class = "btn btn-default clsdisable spnload" })*@
            @Html.ActionLink("Destination Area", "DestinationAreaCode", "DestinationAreaCode", new {Model.CompanyId, serviceId = service }, new { id = "destarea", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Distance", "MoveDistance", "MoveDistance", new {Model.CompanyId, serviceId = service }, new { id = "distance", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Move Weight", "MoveWeight", "MoveWeight", new {Model.CompanyId, serviceId = service }, new { id = "movewight", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Specific Areas", "SpecificOriginAreaCodes", "SpecificOriginAreaCodes", new {Model.CompanyId, serviceId = service }, new { id = "specificAreas", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Specific States", "SpecificStates", "SpecificStates", new {Model.CompanyId, serviceId = service }, new { id = "specificStates", @class = "btn btn-default clsdisable spnload" })
            @Html.ActionLink("Radius", "Radius", "Radius", new {Model.CompanyId, serviceId = service }, new { id = "radius", @class = "btn btn-default spnload" })
        </div>
    </div>
    <p class="clear-fix"></p>
    <div class="row">
        <div class="col-md-6">
             @Html.ActionLink("Get Filter Info", "BudgetFilterInfo", "Budget", new {companyId = @Model.CompanyId, serviceId = service }, new { id = "btnfilter", @class = "btn btn-default clsdisable spnload" })
        </div>
        <div class="col-md-6">
            <input type="submit" id="save" class="btn btn-primary pull-right" value="Save Budget" />
            <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To List</a>
        </div>
    </div>
}