@model _123Movers.Models.SearchModel
@using _123Movers.Models;

@{
    ViewBag.Title = "GetBudget";
   
}
@section JavaScript{
    @Html.Script("jquery.dataTables.min.js")
    @Html.Script("getBudget.js")
}

@Html.Partial(Constants.VIEW, @Model._companyInfo)

<p class="clearfix"></p>
@if (@Model != null)
{
    <div>
        <h2>Current Budgets</h2>
        <div class="row">
            <div class="col-md-12">
                <p>@Html.ActionLink("Add Budget", "AddBudget", "Budget", new { id = "AddBudget", @class = "btn btn-primary btn-lg" })</p>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="table-responsive">
            <table id="ActiveInfo" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Insertion Order Id
                        </th>
                        <th class="text-center">Start Date
                        </th>
                        <th class="text-center">Budget Amount
                        </th>
                        <th class="text-center">Remaining Budget
                        </th>
                        <th class="text-center">Terms
                        </th>
                        <th class="text-center">Service
                        </th>
                        <th class="text-center">Filters
                        </th>
                        <th class="text-center">Renew
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
    List<BudgetModel> activeBudget = Model.budget.Where(c => c.EndDate >= DateTime.Now || c.EndDate == null || c.RemainingBudget >= 0).ToList();
                    }
                    @if (activeBudget.Count > 0)
                    {
                        foreach (var lot in activeBudget)
                        {
                        <tr>
                            <td class="text-center">
                                @lot.InsertionOrderId
                            </td>
                            <td class="text-center">
                                @{
                            var sdate = @lot.StartDate.HasValue ? @DateTime.Parse(@lot.StartDate.ToString()).ToShortDateString() : null;
                                }
                                @sdate
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @lot.TotalBudget)
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @lot.RemainingBudget)
                            </td>
                            <td class="text-center">
                                @{
                            var Recurring = (@lot.IsRecurring) ? (@lot.IsRequireNoticeToCharge) ? "Recurring With Notice" : "Recurring" : "Non Recurring";
                                }
                                @Recurring
                            </td>
                            <td class="text-center">
                                @{
                            var Service = (@lot.ServiceId == Constants.LOCAL) ? "Local" : (@lot.ServiceId == Constants.LONG) ? "Long" : "Both";
                                }
                                @Service
                            </td>
                            <td class="text-center">
                                <p>@Html.ActionLink("Edit", "EditBudget", "Budget", new { TotalBudget = @lot.TotalBudget, IsRecurring = @lot.IsRecurring, IsRequireNoticeToCharge = @lot.IsRequireNoticeToCharge, ServiceId = @lot.ServiceId, agnumber = @lot.AgreementNumber, minDaysToCharge = @lot.MinDaysToCharge }, new { id = "EditBudget", @class = "btn btn-sm btn-info" })</p>
                            </td>
                            <td class="text-center">
                                @if (@Recurring == "Recurring With Notice")
                                {
@*<p>@Html.ActionLink("Renew", "RenewBudget", "Budget", new { ServiceId = @lot.ServiceId}, new { id = "renewBudget", @class = "btn btn-sm btn-info" })</p>*@
                                    <p>
                                        <input type="button" value="Renew" id="activeRenew@(lot.ServiceId)"  data-id ="@lot.ServiceId" class = "btn btn-sm btn-info renewBudget"/></p>
                                }
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="col-md-6 text-center" colspan="10"><b>No record(s) found</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h2>Past Budgets</h2>

        @*<div class="row">
            <div class="col-md-6">
                <p><strong>Total Billed    :</strong> @ViewBag.TotalBilled</p>
            </div>
            <div class="col-md-6">
                <p><strong>Total Uncharged :</strong> @ViewBag.UnchargedAmount</p>
            </div>
        </div>*@
        <div class="table-responsive ">
            <table id="ExpiredInfo" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Insertion Order ID
                        </th>
                        <th class="text-center">Start Date
                        </th>
                        <th class="text-center">End Date
                        </th>
                        <th class="text-center">Total Budget
                        </th>
                        <th class="text-center">Uncharged Amount
                        </th>
                        <th class="text-center">Terms
                        </th>
                        <th class="text-center">Service
                        </th>
                        <th class="text-center">Renew
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    List<BudgetModel> expiredBudget = Model.budget.Where(c => c.EndDate < DateTime.Now || c.UnchargedAmount <= 0 || c.RemainingBudget <= 0).ToList();
                    }
                    @if (expiredBudget.Count > 0)
                    {
                        foreach (var lot in expiredBudget)
                        {
                        <tr>
                            <td class="text-center">
                                @lot.InsertionOrderId
                            </td>
                            <td class="text-center">
                                @{
                            var sdate = @lot.StartDate.HasValue ? @DateTime.Parse(@lot.StartDate.ToString()).ToShortDateString() : null;
                                }
                                @sdate
                            </td>
                            <td class="text-center">
                                @{
                            var edate = @lot.EndDate.HasValue ? @DateTime.Parse(@lot.EndDate.ToString()).ToShortDateString() : null;
                                }
                                @edate
                            </td>
                            <td class="text-center">
                                @string.Format("{0:c}", @lot.TotalBudget)
                            </td>

                            <td class="text-center">
                                @string.Format("{0:c}", @lot.UnchargedAmount)
                            </td>
                            <td class="text-center">
                                @{
                            var Recurring = (@lot.IsRecurring) ? (@lot.IsRequireNoticeToCharge) ? "Recurring With Notice" : "Recurring" : "Non Recurring";
                                }
                                @Recurring
                            </td>
                            <td class="text-center">
                                @{
                            var Service = (@lot.ServiceId == Constants.LOCAL) ? Constants.LOCAL_TEXT : (@lot.ServiceId == Constants.LONG) ? Constants.LONG_TEXT : Constants.BOTH_TEXT;
                                }
                                @Service
                            </td>
                            <td class="text-center">
                                @{
                            var amount = 0;
                                }
                                @if (@Recurring == "Recurring With Notice" && @amount == 0)
                                {
@*<p>@Html.ActionLink("Renew", "RenewBudget", "Budget", new { ServiceId = @lot.ServiceId}, new { id = "renewBudget", @class = "btn btn-sm btn-info" })</p>*@
                                    <p>
                                        <input type="button" id="expireRenew@(lot.ServiceId)" value="Renew" data-id ="@lot.ServiceId" class = "btn btn-sm btn-info renewBudget"/></p>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <p class="clearfix"></p>
        <a href="#" onclick="history.go(-1);return false;" class="btn btn-primary btnSpacing">Back To List</a>

    </div>
</div>
